@model Pokedex.Models.Region

@{
    ViewData["Title"] = "Eliminar Region";
}

<h1>Eliminar Regiones</h1>

<h3>Estas a punto de borrar una Region!! Estas seguro?</h3>
<div>
    <h4>Region</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
